body {
  background-image: url("imagemFundo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section {
  background: white;
  border-radius: 10px;
  padding: 15px;
  width: 500px;
  margin: auto;
  margin-top: 10%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.264);
}

h1 {
  text-align: center;
  color: #8f469f;
}

div {
  text-align: center;
  padding: 8px;
}

input[type="number"] {
    width: calc(100% - 20px); /* Ajuste conforme necessário */
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #f9f9f9;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

input[type="number"]:focus {
    border-color: #8f469f;
    box-shadow: 0 0 5px #6f367c;
}


button {
  background: #46b2c1;
  color: white;
  padding: 15px;
  width: 150px;
  border: none;
  border-radius: 4px;
}

button:hover {
  background: #bbdce4;
  color: black;
}

#resultado {
    margin-top: 15px;
    background: #e5e4e4;
    border-radius: 4px;
    padding: 8px;
    border: #bbdce4;
    height: 50px;
    line-height: 1.6; /* Ajusta o espaçamento entre linhas do texto */

}
