
body {
  background: #babfd8;
  font-family: Arial, Helvetica, sans-serif;
}

header {
    color: white;
    text-align: center;
}

section {
  background: #f1f1f1;
  border-radius: 10px;
  padding: 15px;
  width: 500px;
  margin: auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.264);
}

#flista {
    width: 150px;
}


#form input[type="number"] {
  width: 200px;
  padding: 10px;
  margin-left: 15px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

#form input[type="number"]:focus {
  border-color: #ea0047;
  outline: none;
}

input[type="button"] {
  background: #ea0047;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px;
  width: 80px;
  margin-top: 10px;
}

input[type="button"]:hover {
  background: #a40132;
}



#res {
  display: flex;
  justify-content: flex-start; 
  margin-top: 10px; 
}

footer {
  color: #ea0047;
  text-align: center;
 
}

